
# Created by https://www.toptal.com/developers/gitignore/api/gi()
# Edit at https://www.toptal.com/developers/gitignore?templates=gi()

#!! ERROR: gi() is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/gi()

# Created by https://www.toptal.com/developers/gitignore/api/$0@
# Edit at https://www.toptal.com/developers/gitignore?templates=$0@

#!! ERROR: $0@ is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/$0@
